<h1>Login</h1>

<form action="/login" method="POST">
  <p>{{error}}</p>
  <p>{{errorUsername}}</p>
  <div>
    <label for="username">Username</label>
    <input
      type="username"
      name="username"
      id="username"
      value="{{username}}"
      placeholder="Username"
    />
  </div>
  <p>{{errorPassword}}</p>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      value="{{password}}"
      placeholder="Password"
    />
  </div>
  <button type="submit">Login</button>
</form>